<!DOCTYPE html>
<html>
   <head>
      
      <title>Repsikka</title>

      <!-- Metadata -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1"> 
      
      <!-- CSS/JS Libraries -->
      <link rel="stylesheet" href="./css/bootstrap.min.css" />
      <!--<link rel="stylesheet" href="./css/bootstrap.theme.min.css" /> Optional Bootstrap theme file -->
      <script src="./libs/jquery-3.1.1.min.js"></script>
      <script src="./libs/angular.min.js"></script>
      <script src="./libs/angular-locale_fi-fi.js"></script>
      <script src="./libs/bootstrap.min.js"></script>

      <!-- Page-relevant CSS/JS scripts -->
      <script src="./js/main-angular.js"></script>
      <script src="./js/index-animations.js"></script>
      <link rel="stylesheet" href="./css/carousel.css" />
      <link rel="stylesheet" href="./css/index.css"/>

   </html>
   <body ng-app="repsikkaApp"><!-- ng-app to activate the "main-angular.js" script. -->

      <!-- This is the topbar of the webpage, easily accesible. Can be get using page-heading attribute.
           Remember to add the navbar classes for the navbar :) -->
      <div page-heading class="navbar navbar-default"></div>

      <div class="container">

      <!-- Carousel starts here -->
      <div class="hidden-xs hidden-sm carousel-box carousel-active">
         <div class="carousel-buttons">
            <span class="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
            </span>
            <span class="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
            </span>
         </div>
         <ol class="carousel-content">
            <li class="current"><img src="./img/carousel1.jpg" alt="carousel image">
               <div class="image-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </li>
            <li><img src="./img/carousel2.jpg" alt="carousel image">
               <div class="image-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </li>
            <li><img src="./img/carousel3.jpg" alt="carousel image">
               <div class="image-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
            </li>
            <li><img src="./img/carousel4.jpg" alt="carousel image">
               <div class="image-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </li>
         </ol>
      </div>
      <!-- Carousel ends here -->

         <div class="row" ng-controller="indexCtrl">
            <div class="col-sm-4">
               <div class="well" onmouseenter="shake(this)">
                  <img style="float:left" class="shake-img" src="./img/wait.png" width="57px"></img>
                  <h3>Urgent Jobs</h3>
               </div>
               <ul class="list-group">
                  <li class="list-group-item" ng-repeat="job in jobs | filter:between('date', 0, 86400000)">
                     <div><strong>{{job.name}}</strong></div>
                     <div><strong>Expires in: </strong>{{dateDiff(job.date) | date:'H:mm:ss'}}</div>
                  </li>
               </ul>
            </div>
            
            <div class="col-sm-4">
               <a href="browse.html"><div class="well" onmouseenter="shake(this)">
                  <img style="float:left" class="shake-img" src="./img/magnifying glass.png" width="57px"></img>
                  <h3>Browse jobs</h3>
               </div></a>
               <div class="list-group">
                  <a ng-repeat="category in categories track by $index" href="browse.html?filterCategory='{{category}}'" class="list-group-item">{{category}}</a>
               </div>
            </div>

            <div class="col-sm-4">
               <a href="add.html"><div class="well" onmouseenter="shake(this)">
                  <img style="float:left" class="shake-img" src="./img/document add.png" width="57px"></img>
                  <h3>Post a job</h3>
               </div></a>
            </div>
         </div>
      </div>
   </body>
<script>
   $( function(){
      // Escaping the flash of unstyled content
      $('body').css('display', 'block');
   });
</script>
</html>

